body {
  margin: 0 30px;
}

.contents__wrapper {
  display: flex;
}

.edit-form__wrapper {
  width: 50%;
  margin-right: 30px;
  border-right: 1px solid #333333;
}

.preview__wrapper {
  margin-left: 30px;
  width: 50%;
}

.form-item__wrapper {
  margin-bottom: 20px;
}

.form-item__wrapper div {
  font-size: 1em;
  font-weight: bold;
}

.form__title, .form__category, .form__thumbnail {
  width: 90%;
  height: 1.8em;
  border: 1.4px solid #333333;
  border-radius: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}

.form-tag__wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.form-tag__wrapper div {
  font-weight: normal;
}

.form__content {
  width: 90%;
  height: 60vh;
  border: 1.4px solid #333333;
  border-radius: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

.form__btns {
  margin: 0 50px;
  position: absolute;
  right: 0;
}

.form__btns--white {
  width: 8em;
  margin-bottom: 80px;
  height: 1.8em;
  font-size: 1.2em;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 10px;
}

/* .form__btns--green {
  width: 8em;
  margin-bottom: 60px;
  height: 1.8em;
  font-size: 1.2em;
  background-color: #00c300;
  border: 1px solid #00c300;
  color: #ffffff;
  border-radius: 10px;
} */

.preview__img img {
  width: 90%;
  height: 50vh;
  object-fit: cover;
}

.preview__content {
  max-width: 45vw;
  height: 34em;
  word-wrap: break-all;
  overflow: scroll;
}

/* .edit-form__wrapper { */
  /* display: flex; */
/* } */

/* #box {
  width: 100%;
  height: 80vh;
  padding: 10px;
  margin: 10px;
  border: solid 1px;
  /* overflow: scroll; */
/* }

#area {
  width: 440px;
  height: 75vh;
  padding: 10px;
  margin: 10px;
} */ */

/* #title {
  width: 100%;
  height: 10vh;
  padding: 10px;
  margin: 10px;
  border: solid 1px;
  overflow: scroll;
}

#sam {
  width: 100%;
  height: 15vh;
  padding: 10px;
  margin: 10px;
  border: solid 1px;
  overflow: scroll;
}

.tag {
  display: flex;
  justify-content: space-between;
}
