body {
  margin: 0;
  box-sizing: border-box;
  color: #333333;
}

.body__container {
  position: relative;
  padding-bottom: 150px;
  margin: 0 30px;
}

/* ヘッダー */
.header__container {
  display: inline;
}

/* ヘッダー navバー */
.nav-parent__wrapper {
  list-style: none;
  margin: 0;
}

.nav-parent {
  display: inline-block;
  padding: 5px 0;
  vertical-align: top;
  position: relative;
  transition: all .2s linear .2s;
}

.nav-parent a {
  display: block;
  padding: 0 1.5em;
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid #333333;
}

.nav-parent:hover {
  background-color: azure;
}

.nav-parent:hover > a {
  border-bottom: 1px solid #333333;
}

.nav-child__wrapper {
  width: 5em;
  list-style: none;
  visibility: hidden;
  transition: all .2s linear .2s;
}

.nav-child {
  display: block;
  white-space: nowrap;
}

.nav-child a {
  position: relative;
  top: 0;
  left: -2.5em;
  text-decoration: none;
}

.nav-parent:hover .nav-child__wrapper {
  visibility: visible;
  opacity: 1;
  background-color: azure;
}

/* スライドnavバー */
/* ハンバーガー */
/* .menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#nav {
  position: absolute;
  top: 0;
  left: -40%;
  width: -40%;
  height: 100vh;
  background-color: azure;
  transition: .7s;
}

.sidebar__wrapper {
  padding-top: 80px;
}

.sidebar__wrapper li {
  list-style-type: none;
}

#nav a {
  display: block;
  text-decoration: none;
  color: #333333;
}

#nav li a:hover {
  color: #333333;
  background-color: #cd5c5c;
} */
/* ここまでスライドnav */

/* サイドカラム */
wrapper {
  display: flex;
}

.main__wrapper {
  border: 1px solid #efefef;
}

.side__wrapper {
  border: 1px solid #efefef;
  position: absolute;
  right: 0;
  padding: 30px;
  width: 300px;
}

.side__box h2 {
  padding-left: 30px;
  font-size: 1.2em;
  font-weight: normal;
  background-color: #efefef;
  line-height: 2em;
}

.side__category {
  padding-left: 2em;
  line-height: 2.3em;
}

.side-box__content {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.side-box__content a {
  display: block;
  margin-left: 32px;
  text-decoration: none;
  color: #333333;
  line-height: 2em;
  border-bottom: 1px solid #b6b4b4;
}

.side__selfintro {
  margin-left: 32px;
  display: flex;
}

.side__selfintro--img {
  align-self: center;
}

.side__selfintro--str {
  margin-left: 30px;
  word-wrap: break-word;
  word-break: break-all;
}

.side__blog-card {
  border-bottom: 1px solid #b6b4b4;
  margin-left: 30px;
}

.side__card-text {
  display: inline-flex;
}

.side__card-text span {
  font-size: 0.8em;
  margin-left: 1em;
}
.side__blog-card a {
  display: block;
  text-decoration: none;
  color: #333333;
}
