body {
  margin: 0;
  box-sizing: border-box;
  color: #333333;
}

.body__container {
  position: relative;
  padding-bottom: 150px;
  margin: 0 30px;
}

/* ヘッダー */
.header__container {
  display: inline;
}

/* ヘッダー navバー */
.nav-parent__wrapper {
  list-style: none;
  margin: 0;
}

.nav-parent {
  display: inline-block;
  padding: 5px 0;
  vertical-align: top;
  position: relative;
  transition: all .2s linear .2s;
}

.nav-parent a {
  display: block;
  padding: 0 1.5em;
  text-decoration: none;
}

.nav-parent:hover {
  background-color: azure;
}

.nav-parent:hover > a {
  border-bottom: 1px solid #333333;
}

.nav-child__wrapper {
  width: 5em;
  list-style: none;
  visibility: hidden;
  transition: all .2s linear .2s;
}

.nav-child {
  display: block;
  white-space: nowrap;
}

.nav-child a {
  position: relative;
  top: 0;
  left: -2.5em;
  text-decoration: none;
}

.nav-parent:hover .nav-child__wrapper {
  visibility: visible;
  opacity: 1;
  background-color: azure;
}

/* スライドnavバー */
.nav__container {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.nav__item {
  width: 8em;
  text-align: center;
  position: relative;
}

.nav__item a {
  color: #333333;
  text-decoration: none;
}

.nav__item::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.nav__item:hover::after {
  transform: scale(1, 1);
}

.main__container {
  margin: 30px;
  border-bottom: 1px solid gray;
}

.article__item {
  border-top: 1px solid gray;
}

.article__title {
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.article__content {
  margin: 20px 0;
}

.form {
  width: 80%;
  margin: auto;
}

.form__item-label {
  font-size: 0.8em;
}

.form__item {
  display: block;
  width: 500px;
  border: 1.4px solid #333333;
  border-radius: 2px;
}

.form__button {
  margin: 30px 0;
  width: 10em;
  height: 3em;
  background-color: white;
  text-align: center;
}

.footer__item {
  height: 2em;
}

.footer__container {
  width: 100%;
  background-color: gray;
  color: whitesmoke;
  position: absolute;
  bottom: 0;
}

.footer__profile {
  display: flex;
  justify-content: space-around;
}

.footer__icon img {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: wheat;
}

.footer__str {
  width: 80%;
}

.footer__copyright {
  display: block;
  text-align: center;
}
